// Colors
$primary: #1eba55;
$primaryLight: #63ee84;
$primaryDarkL: #008928;

$secondary: #181818;
$secondaryLight: #3e3e3e;
$secondaryDark: #000000;

$white: #EEEEEE;
$grey: #888888;

$dark: #222831;


// Font
$fontSizeS: .9rem;
$fontSize: 1rem;
$fontSizeL: 1.5rem;
$fontSizeXL: 1.9rem;
$fontSizeXXL: 2.5rem;

$fontFamily: 'Futura';

$font: $fontSize $fontFamily, sans-serif;

// Screen Sizes
$tablet-width: 768px;
$desktop-width: 1024px;